.toolbar-delete {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.toolbar-delete svg{
  color: red;
}